@using BookStore.Models
@model IEnumerable<BookModel>

<div class="container">
    <h1>All Books</h1>
<div class="row">
    
        @foreach( var book in Model) 
        {
    <div class="col col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top w-100 m-auto" height="225" src="~/images/book.png" />
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <div class=" d-flex justify-content-between ">
                    <a href="/book/getbook/@book.id" class="btn border-dark ">Book Details</a>
                    <p>@book.Author</p>
                </div>
            </div>
        </div>
    </div>
        }


    

</div>

</div>