@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron text-center bg-white">
    <h1> Welcome to Book Store  </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top w-100 m-auto" height="225"  src="~/images/book.png" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <div class=" d-flex justify-content-between ">
                        <a href="#" class="btn border-dark ">Book Details</a>
                        <p>Book Author</p>
                    </div>
                </div>
            </div>    
        </div>

    </div>

</div>
